/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
/* Changed css style */

.wrap-nivoslider.theme-default{
	position: relative;
	margin-bottom: 20px;
}

.wrap-nivoslider .nivo-caption{
	font-style: italic;
	font-size: 16px;
	color: #fff;
	padding: 21px 130px 21px 35px;
}

.wrap-nivoslider .nivoSlider .nivo-caption a{
	text-decoration: none;
	color: #55d727;
	border-bottom: none;
}

.wrap-nivoslider.theme-default .nivoSlider{
	box-shadow: none;
	z-index: 2;
}

.wrap-nivoslider.theme-default .nivo-controlNav {
	text-align: center;
	padding: 0;
	position: absolute;
	right: 28px;
	bottom: 13px;
	z-index: 10;
}
.wrap-nivoslider.theme-default .nivo-html-caption{
	position: relative;
}


.wrap-nivoslider.theme-default .nivo-controlNav a{
	background: none;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0.3;
	width: 9px;
	height: 9px;
}

.wrap-nivoslider.theme-default .nivo-controlNav a.active{
	opacity: 1;
}

.wrap-nivoslider.theme-default .nivo-directionNav a{
	background: url(images/arrows2.png) no-repeat;
	width: 19px;
	height: 38px;
	margin-top: -15px;
}

.wrap-nivoslider.theme-default a.nivo-nextNav{
	background-position: -21px 0;
}
/* Original css style */

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(images/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
    -moz-box-shadow: 0 1px 5px 0 #4a4a4a;
    box-shadow: 0 1px 5px 0 #4a4a4a;
    height: 100%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

